<!DOCTYPE html>
<html>
+------+       +------+       +------+       +------+       +------+   
|`.    |`.     |\     |\      |      |      /|     /|     .'|    .'|   
|  `+--+---+   | +----+-+     +------+     +-+----+ |   +---+--+'  |   
|   |  |   |   | |    | |     |      |     | |    | |   |   |  |   |   
+---+--+   |   +-+----+ |     +------+     | +----+-+   |   +--+---+   
 `. |   `. |    \|     \|     |      |     |/     |/    | .'   | .'    
   `+------+     +------+     +------+     +------+     +------+'      
                                                                       
   .+------+     +------+     +------+     +------+     +------+.      
 .' |    .'|    /|     /|     |      |     |\     |\    |`.    | `.    
+---+--+'  |   +-+----+ |     +------+     | +----+-+   |  `+--+---+   
|   |  |   |   | |    | |     |      |     | |    | |   |   |  |   |   
|  ,+--+---+   | +----+-+     +------+     +-+----+ |   +---+--+   |   
|.'    | .'    |/     |/      |      |      \|     \|    `. |   `. |   
+------+'      +------+       +------+       +------+      `+------+ RK
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="description" content=" ">
        <meta name="author" content="Ben Korody">
        <meta name="robots" content="NOODP,NOYDIR">
        <meta itemprop="name" content="Ben Korody">
        <!--meta itemprop="image" content="">
        <meta name="thumbnail" content=""-->

        <meta property="og:title" content="Ben Korody - Creative Web Developer">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.benkorody.com/{{ page.path }}">
        <!--meta property="og:image" content=""-->
        <meta property="og:site_name" content="Ben Korody - Creative Web Developer">
        <meta property="og:description" content="Ben Korody helps organizations craft unique digital experiences.">

        <!--link rel="shortcut icon" href="favicon.png">
        <link rel="apple-touch-icon" href="apple-touch-icon.png"-->
        
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <![endif]-->
          
        <link href="assets/css/me.min.css" rel="stylesheet">
        
        <link href="assets/css/font-awesome.min.css" rel="stylesheet">

          
    </head>
    <body>
      
      <a href="#content-start" class="accessibility-aid" tabindex="0">Skip to content</a>
      
      <div id="wrap" role="document">
        <div class="main" id="main" role="main">
          <div class="container">
            
            {{ content }}
            
          </div>
        </div>
      </div>
      
      
    </body>
</html>
